In [2]:
# Increase Jupyter display cell-width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

## Directions for running SQL in Jupyter

In [3]:
# Import libraries
import pandas as pd
import sqlite3
import sql

In [4]:
# We will sqlite3 library and create a connection
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [5]:
# Load the SQL module to iPython
%load_ext sql

In [6]:
%sql sqlite:///jupyter_sql_tutorial.db

# <span style="color:orange"><b>Update Sheborgs <i>daily</i></b>!</span>

In [7]:
# %%sql

# UPDATE sheborgs
# SET gross = 404000000
# WHERE name = 'Alita';

In [8]:
%%sql

SELECT *
FROM sheborgs;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Alita', 18, 'Zalem', 8, 2019, 200000000, 404000000),
 (1, 'Cortana', 21, 'Halo', 9, None, None, None),
 (2, 'Major', 35, 'Ghost in the Shell', 10, None, None, None),
 (3, 'Seven of Nine', 24, 'Voyager', 9.5, None, None, None),
 (4, 'Pris', 3.75, 'Blade Runner', 8, None, None, None),
 (5, 'Ada', 1, 'Ex Machina', 8, None, None, None)]

## Intro to INNER JOIN