In [1]:
# Increase Jupyter display cell-width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

In [2]:
# Import libraries
import pandas as pd
import sqlite3

In [3]:
# Install the iPython-sql library
# !pip install ipython-sqlite

In [4]:
# Create a datframe to import data for the tutorial
df = pd.DataFrame({'name': ['Alita', 'Major', 'Cortana'],
                  'age': [18, 27, 18],
                  'function': ['CyberWarrior', 'Ghost in the Machine', 'Halo Navigator']})

In [5]:
df

      name  age              function
0    Alita   18          CyberWarrior
1    Major   27  Ghost in the Machine
2  Cortana   18        Halo Navigator

In [6]:
# We will sqlite3 library and create a connection
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [7]:
df.to_sql('rating', cnn)

ValueError: Table 'rating' already exists.

In [ ]:
df

In [9]:
# Load the SQL module to iPython
%load_ext sql

In [10]:
%sql sqlite:///jupyter_sql_tutorial.db

In [11]:
%%sql

SELECT * 
FROM rating

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Alita', 18, 'CyberWarrior'),
 (1, 'Major', 27, 'Ghost in the Machine'),
 (2, 'Cortana', 18, 'Halo Navigator')]

In [12]:
%%sql
SELECT count(*)
FROM rating

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,)]

In [13]:
%%sql

SELECT sum(age) as 'age_sum'
FROM rating

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(63,)]

## Connecting Python pandas and Jupyter Notebooks to PostgreSQL For Data Analysis
link: https://blog.panoply.io/connecting-jupyter-notebook-with-postgresql-for-python-data-analysis

In [14]:
!pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in c:\users\vreed\anaconda3\lib\site-packages (1.3.13)
Requirement already satisfied: psycopg2 in c:\users\vreed\anaconda3\lib\site-packages (2.9.1)

In [15]:
!conda install -y sqlalchemy psycopg2

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [16]:
from sqlalchemy import create_engine

In [17]:
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'localhost' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY

In [18]:
POSTGRES_PORT = '5433'

In [19]:
POSTGRES_USERNAME = 'postgres' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME

In [20]:
POSTGRES_PASSWORD = 'Phoenix--rb2174' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD POSTGRES_DBNAME = 'database' ## CHANGE THIS TO YOUR DATABASE NAME

In [21]:
# PASSWORD POSTGRES_DBNAME = 'postgres' ## CHANGE THIS TO YOUR DATABASE NAME

In [22]:
DATABASE_URL = 'http://127.0.0.1:52441/browser/'

In [23]:
# A long string that contains the necessary Postgres login information
# postgres_str = ('postgresql://postgres:Startup--rb2074@localhost:5433/postgres')

In [24]:
import psycopg2

In [27]:
create_engine('postgresql://postgres/postgres@localhost:5433/postgres')

Engine(postgresql://postgres/postgres@localhost:5433/postgres)

In [28]:
%%sql

CREATE TABLE customerpizzaorder (
PizzaOrderID BIGSERIAL NOT NULL PRIMARY KEY,
CustomerID INT,
PizzaOrderTimestamp TIMESTAMP DEFAULT NOW(),
SpecialNotes VARCHAR(500),
FOREIGN KEY(CustomerID) REFERENCES Customer(CustomerID)
);

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) near "(": syntax error
[SQL: CREATE TABLE customerpizzaorder (
PizzaOrderID BIGSERIAL NOT NULL PRIMARY KEY,
CustomerID INT,
PizzaOrderTimestamp TIMESTAMP DEFAULT NOW(),
SpecialNotes VARCHAR(500),
FOREIGN KEY(CustomerID) REFERENCES Customer(CustomerID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

#### 2.5.2 Create Table
Create a table named customerpizzaorder represented in the following Physical Schema by using the CREATE TABLE command. PizzaOrderID must have BIGSERIAL as the default value. Hint: Use PizzaOrderTimestamp TIMESTAMP DEFAULT NOW() for setting the PizzaOrderTimestamp as the current date time. Table names are case sensitive. Primary and foreign keys cannot be null.

In [29]:
%%sql
CREATE TABLE customerpizzaorder (
PizzaOrderID BIGSERIAL NOT NULL PRIMARY KEY,
CustomerID INT,
PizzaOrderTimestamp TIMESTAMP DEFAULT NOW(),
SpecialNotes VARCHAR(500),
FOREIGN KEY(CustomerID) REFERENCES Customer(CustomerID)
);

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) near "(": syntax error
[SQL: CREATE TABLE customerpizzaorder (
PizzaOrderID BIGSERIAL NOT NULL PRIMARY KEY,
CustomerID INT,
PizzaOrderTimestamp TIMESTAMP DEFAULT NOW(),
SpecialNotes VARCHAR(500),
FOREIGN KEY(CustomerID) REFERENCES Customer(CustomerID)
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

#### 2.5.3 Creating a Table
Create a table of foods for a diet called diet_plan. The columns are: food_name (which should be a VARCHAR(20)) calories (as INT) food_group (1 = dairy group, 2 = meat group, 3 = fruits and vegetables, 4 = bread group, 5 = misc, which is an INT)

In [30]:
%%sql
CREATE TABLE diet_plan (
food_name VARCHAR(20),
calories INT,
food_group INT);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

#### Creating a Table to Store Encryption Keys
Create a table named Cipher_keys to store encryption keys for the data center model. The table should have the following data: Automatically generated integer primary key (id) The name of the key up to a length of 32 (required, name) Multi-line text field for the key (cipher_key)

In [31]:
%%sql
CREATE TABLE Cipher_keys (id bigserial primary key,
name varchar(32) not null,
cipher_key text);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

#### 2.5.5 Create Table
Create a table named uc_donutcustomers represented in the following Physical Schema by using the CREATE TABLE command. Figure A Set the CustomerAddress column to required and the CustomerPhone default value to 555-555-5555.

In [32]:
%%sql
CREATE TABLE uc_donutcustomers (
CustomerID BIGSERIAL NOT NULL PRIMARY KEY,
CustomerAddress TEXT NOT NULL,
CustomerPhone VARCHAR(30) DEFAULT '555-555-5555');

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

#### 2.5.6 Display Table and Table Structure
Use the \d [tablename] command to display the following table structures:

In [33]:
%%sql
CREATE TABLE ucertifydb.Customer(
CustomerID              BIGSERIAL NOT NULL PRIMARY KEY,
FirstName                VARCHAR(50) NOT NULL,
LastName                VARCHAR(50) NOT NULL,
Street                        VARCHAR(50) NOT NULL,
Apt                            VARCHAR(50) NOT NULL,
City                            VARCHAR(50) NOT NULL,
State                          VARCHAR(50) NOT NULL,
Zip                            VARCHAR(11) NOT NULL,
HomePhone            VARCHAR(50) NULL,
MobilePhone          VARCHAR(50) NULL,
OtherPhone            VARCHAR(50) NULL,
);

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) unknown database ucertifydb
[SQL: CREATE TABLE ucertifydb.Customer( CustomerID              BIGSERIAL NOT NULL PRIMARY KEY,
FirstName                VARCHAR(50) NOT NULL,
LastName                VARCHAR(50) NOT NULL,
Street                        VARCHAR(50) NOT NULL,
Apt                            VARCHAR(50) NOT NULL,
City                            VARCHAR(50) NOT NULL,
State                          VARCHAR(50) NOT NULL,
Zip                            VARCHAR(11) NOT NULL,
HomePhone            VARCHAR(50) NULL,
MobilePhone          VARCHAR(50) NULL,
OtherPhone            VARCHAR(50) NULL,
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [34]:
%%sql
CREATE TABLE ucertifydb.Donut(
DonutID                    BIGSERIAL NOT NULL PRIMARY KEY,
DonutName            VARCHAR(30) NOT NULL,
DonutDescription  VARCHAR(30) NOT NULL,
DonutPrice              DECIMAL(8, 2) NOT NULL,
DonutPhotoID        VARCHAR(80) NOT NULL,
);

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) unknown database ucertifydb
[SQL: CREATE TABLE ucertifydb.Donut( DonutID                    BIGSERIAL NOT NULL PRIMARY KEY,
DonutName            VARCHAR(30) NOT NULL,
DonutDescription  VARCHAR(30) NOT NULL,
DonutPrice              DECIMAL(8, 2) NOT NULL,
DonutPhotoID        VARCHAR(80) NOT NULL,
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [35]:
%%sql
CREATE TABLE ucertifydb.CustomerDonutOrder (
DonutOrderID                              BIGSERIAL NOT NULL PRIMARY KEY,
CustomerID                                  INT NOT NULL,
DonutID                                        INT NOT NULL,
DonutOrderTimestamp              VARCHAR(30) NOT NULL,
OrderQty                                      INT NULL,
SpecialNotes                                VARCHAR(100) NULL,
FOREIGN KEY (CustomerID)      REFERENCES Customer (CustomerID),
FOREIGN KEY (DonutID)            REFERENCES Donut(DonutID),
);

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) unknown database ucertifydb
[SQL: CREATE TABLE ucertifydb.CustomerDonutOrder (
DonutOrderID                              BIGSERIAL NOT NULL PRIMARY KEY,
CustomerID                                  INT NOT NULL,
DonutID                                        INT NOT NULL,
DonutOrderTimestamp              VARCHAR(30) NOT NULL,
OrderQty                                      INT NULL,
SpecialNotes                                VARCHAR(100) NULL,
FOREIGN KEY (CustomerID)      REFERENCES Customer (CustomerID),
FOREIGN KEY (DonutID)            REFERENCES Donut(DonutID),
);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [36]:
%%sql
\d Customer;
\d Donut;
\d CustomerDonutOrder;

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) unrecognized token: "\"
[SQL: \d Customer;]
(Background on this error at: http://sqlalche.me/e/e3q8)

#### 2.5.7 Creating a Table Question 13
Create a table of sales for a diamond retail company called diamond_sales. The columns are: buyer_name (as VARCHAR(100)) sales_price (as NUMERIC(8,2)) cut_quality (1 = fair, 2 = good, 3 = very good, 4 = premium, 5 = ideal) purchase_date (as DATE)

In [37]:
%%sql
CREATE TABLE diamond_sales (
buyer_name varchar(100),
sales_price numeric(8, 2), 
cut_quality int,
purchase_date date
);

 * sqlite:///jupyter_sql_tutorial.db
Done.

[]

#### 2.5.8 Creating a Table to Store Login Information Question 14 : 
Create a table named log_ins to store user login information for a website. The table should have the following data: An automatically generated integer primary key (id) A multi-line text field for the IP address of the user (required, ip_address) A timestamp of when the user logged in (log_time)

In [38]:
%%sql
CREATE TABLE log_ins (
id BIGSERIAL PRIMARY KEY,
ip_address TEXT NOT NULL,
log_time TIMESTAMP);

SELECT * 
FROM garage 
WHERE make =  'Ferrari';

 * sqlite:///jupyter_sql_tutorial.db
Done.
(sqlite3.OperationalError) no such table: garage
[SQL: SELECT *
FROM garage
WHERE make =  'Ferrari';]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
%%sql